.form1{
    width:100%;
}

.content {
    padding: 5%;
    border: 2px groove black;
    width: 100%;
    display: inline-block;
    position: relative;
}

.panel{
    display:inline-block;
    position:relative;
    width:40%;
}
