body {
    margin:0;
    background-color:rgba(248, 55, 191, 0.5)
}
    
.navbar{
    background-color:#0094ff;
    width:inherit;
    font-size:25px;
    text-align:center;
    padding:15px;
    border-radius:0 0 25px 25px;
}